section.section-content
    .container
        .content
            aside.aside.news
                h2.news__title Новости
                ul.news__list
                    li.news__item
                        date(datetime="2015-09-14").news__date 14 сентября 2015 г.
                        a(href="#").news__link Акция на входные двери Фалько!
                    li.news__item
                        date(datetime="2015-09-14").news__date 14 сентября 2015 г.
                        a(href="#").news__link Установка межкомнатных дверй в подарок при покупке 3-х полотен!
                    li.news__item
                        date(datetime="2015-09-14").news__date 14 сентября 2015 г.
                        a(href="#").news__link 14 сентября 2015 г. Новинка! Термо двери Форт!
                    li.news__item
                        date(datetime="2015-09-14").news__date 14 сентября 2015 г.
                        a(href="#").news__link Установка межкомнатных дверй в подарок при покупке 3-х полотен!
                    li.news__item
                        date(datetime="2015-09-14").news__date 14 сентября 2015 г.
                        a(href="#").news__link Новинка! Термо двери Форт!
                a(href="#").news__all Архив акций
            
            article.about
                h1.about__title Компания "Шнайдер Консалт"
                p.article__paragraph Мы эксперты в запуске интернет-магазинов товаров для дома, строительства и ремонта. Совместный опыт нашей команды в развитии и продвижении проектов в сфере электронной торговли более 15 лет.
                p.article__paragraph Мы создали надежную технологию, которая позволяет быстро и уверено выводить интернет-магазины на продажи и самоокупаемость. Если мы беремся за проект, значит уверены в достижении бизнес результатов для наших клиентов.
            
            article.what-we-do
                h3.what-we-do__title Чем мы занимаемся?
                .cols
                    .col 
                        .col__title Только товары для дома, строительства и ремонта.
                        .col__text Нельзя одинаково хорошо разбираться во всех отраслях рынка. Поэтому мы работаем на тех секторах рынка, на котором имеем большой опыт и разбираемся лучше всего. И это гарантирует результат нашим клиентам.
                    .col
                        .col__title Строим комплексный маркетинг и продажи.
                        .col__text Мы не делаем просто сайты. Не занимаемся просто продвижением. Это не принесет результаты. Только комплексный маркетинг и и система продаж могут принести вам доходы и прибыль.
