.footer 
    flex 0 0 auto
    background-color #777777
    padding 5rem 0
    color #ffffff

    &__wrap
        display flex
        justify-content center
        flex-direction column

        @media(min-width $grid-md)
            flex-direction row
            justify-content space-between

        .email
            color #ffffff

            &:hover
                text-decoration underline
    
    &__col
        display flex
        flex-direction column
        flex: 1 1 auto
        justify-content center
        text-align center

        &:not(:last-child)
            margin-bottom 2rem

        @media(min-width $grid-md)
            text-align left
            justify-content flex-start

            &:not(:last-child)
                margin-bottom 0

        @media(min-width $grid-lg)
        
            &:first-child
                flex 0 0  35rem
            
            &:last-child
                flex 0 0 21rem
                
    
    &__nav
        &-link
            color #ffffff
            text-decoration underline
        
    &__company
        &-link
            color #ffffff
            text-decoration underline