extends template/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	include modules/navigation/main-nav
	include modules/slider/slider
	include modules/content/content