// Colors
$white = #ffffff
$black = #000000

// Sizes
$base-font-size = 10px

// GRID
$content-size = 1000px

$grid-sm = 576px
$grid-md = 768px
$grid-lg = 992px

$grid-xs-max = (576px - 0.02px)
$grid-sm-max = (768px - 0.02px)
$grid-md-max = (992px - 0.02px)

$container-sm = 540px
$container-md = 720px
$container-lg = 1000px

//fonts
$main-font = 'Open Sans', Arial, sans-serif 