footer.footer
    .container
        .footer__wrap
            .footer__col
                .copyright © 2012–2016 ЗАО «Компания» 
                a(href="mailto:info@name.ru").email info@name.ru
            .footer__col
                nav.footer__nav
                    ul.footer__nav-list
                        li.footer__nav-item 
                            a(href="#").footer__nav-link Главная
                        li.footer__nav-item 
                            a(href="#").footer__nav-link Каталог
                        li.footer__nav-item 
                            a(href="#").footer__nav-link Доставка и оплата
                        li.footer__nav-item 
                            a(href="#").footer__nav-link Прайс-лист
                        li.footer__nav-item 
                            a(href="#").footer__nav-link Контакты

            .footer__col
                .footer__company
                    a(href="#").footer__company-link Разработка сайта
                    span.footer__company-name  — компания «Шнайдер Консалт»